nav {
  display: inline-grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  column-gap: 0.5em;
}

nav a {
  text-decoration: none;
}

.text-active {
  color: tomato;
}

.text-inactive {
  color: orchid;
}

.strike {
  text-decoration: line-through;
}

.editor {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: none;
  padding: 1em;
  resize: none;
  background-color: black;
  color: white;
}

pre {
  margin: 0;
}

.balance-sheet {
  display: inline-grid;
  grid-template-columns: auto 1em repeat(7, auto);
  column-gap: 0.5em;
}

.balance-sheet-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.balance-sheet-row:nth-child(1) {
  font-weight: bold;
}

.balance-sheet-row > :nth-child(2) {
  text-align: right;
}

.amount-header {
  grid-column: 3 / -3;
}

.amount {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 3 / -1;
  text-align: right;
}

.amount-one {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.amount-one-inner {
  column-gap: 0;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
}

.left-align {
  text-align: left;
}
